.header {
    background-image: url("../../assets/coffeeheader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    width: 90vw;
    display: flex;
    
    
    text-align: center;

    .shop-name{
        color: white;
        font-size: 1.5rem;
    }


}

@media only screen and (min-width: 768px) {
    .header{
        height: 30vh;
    }
}